
<p>ディスク残量 <%= "%.1f" % available %> / <%= "%.1f" % total %> GB</p>
<table class="table table-striped table-condensed" id="sorter">
	<thead>
		<tr>
			<th class="text-center">タイトル</th>	
			<th class="text-center">日付</th>
			<th class="text-center">時:分</th>
		</tr>
	</thead>
	<tbody>
		<% @songs.each do |song| %>
			<tr>
				<td class="col-xs-5">
					<button value="<%= song.file %>" class="btn add btn-block btn-info text-left "> 
						<%= song.title %>
					</button>
				</td>
				<%# = url('/add/#{song.file}') %>
				<td class="col-xs-2 text-center"> <span> <%= song.onair.strftime("%y/%m/%d %H:%M") %> </span> </td>
				<td class="col-xs-2 text-center"> <span> <%= song.playtime %> </span> </td>
				<td class="col-xs-1"> <button type="button" class="btn btn-danger kill-file" value="<%= song.file %>" aria-label="Left Align"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button> </td>
			</tr>
		<% end %>
	</tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script src="js/jquery.tablesorter.widgets.min.js"></script>
<script src="js/notyf.min.js"></script>
<script type="text/javascript">
$(function () {
$('#alllist-tab').addClass("active");
$('#playlist-tab').removeClass("active");
	$('#sorter').tablesorter();
	var notyf = new Notyf();

	$('.add').on('click', function (eo) {
		var file = eo.target.value || eo.target.parentElement.value;
		var url = "<%= url('/add/') %>" + file;
		console.log(url);
		$.ajax({
			type: 'POST',
			url: url, 
			success: function (json) {
				console.log(json);
				notyf.confirm(json.file + 'を登録');
			},
			error: function (error) {
				console.log('error: '+error);
			}
		});
	});

	$('.kill-file').on('click', function (eo) {
		var target = eo.target;
		if (target.tagName == "SPAN") {
			target = eo.target.parentElement;
		}
		var file = target.value;
		var ok = confirm(file + 'を削除します。本当によろしいですか？');
		if (!ok) {
			return;
		}
		var url = "<%= url('/kill_file/') %>" + file;
		console.log(url);
		$.ajax({
			type: 'DELETE',
			url: url, 
			success: function (json) {
				console.log(json);
				target.parentElement.parentElement.remove();
				notyf.confirm(json.file + 'を削除しました');
			},
			error: function (error) {
				console.log('error: '+error);
				notyf.alert('削除できません: ' + error.status + ': ' + error.statusText);
			}
		});
	});


});

</script>