
<p>ディスク残量 <%= "%.1f" % available %> / <%= "%.1f" % total %> GB</p>
<table class="table table-striped" id="sorter">
	<thead>
		<tr>
			<th class="text-center">タイトル</th>	
			<th class="text-center">日付</th>
			<th class="text-center">時:分</th>
		</tr>
	</thead>
	<tbody>
		<% @songs.each do |song| %>
			<tr>
				<td class="col-xs-1">
					<button value="<%= song.file %>" class="btn add btn-block btn-info text-left "> 
						<%= song.title %>
					</button>
				</td>
				<%# = url('/add/#{song.file}') %>
				<td class="col-xs-2 text-center"> <span> <%= song.onair.strftime("%y/%m/%d %H:%M") %> </span> </td>
				<td class="col-xs-2 text-center"> <span> <%= song.playtime %> </span> </td>
				<td class="col-xs-1"> <button type="button" class="btn btn-danger kill-file" value="<%= song.file %>" aria-label="Left Align"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button> </td>
			</tr>
		<% end %>
	</tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.tablesorter.min.js"></script>
<script src="js/jquery.tablesorter.widgets.min.js"></script>
<script src="js/listall.js"></script>
