
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">ID</th> 
      <th class="text-center">タイトル</th> 
      <th class="text-center">日付</th>
      <th class="text-center">時:分</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td class="col-xs-1"> <%= song.id %> </td>
        <td class="col-xs-6"> <button value="<%= song.id %>" class="btn btn-block btn-success play"><%= song.title %></button> </td>
        <%# = url('/add/#{song.file}') %>
        <td class="col-xs-2 text-center"> <span> <%= song.onair.strftime("%y/%m/%d %H:%M") %> </span> </td>
        <td class="col-xs-2 text-center"> <span> <%= song.playtime %> </span> </td>
        <td class="col-xs-1"> <button type="button" class="btn btn-danger delete" value="<%= song.id %>" aria-label="Left Align"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button> </td>
      </tr>
    <% end %>
  </tbody>
</table>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('#playlist-tab').addClass("active");
    $('#alllist-tab').removeClass("active");

    $('.delete').on('click', function (eo) {
      var button = eo.target;
      if (button.tagName == "SPAN") {
        button = eo.target.parentElement;
      }

      var id = button.value;
      var url = '<%= url('/delete/') %>' + id;
      console.log(url);
      $.ajax({
      	type: 'DELETE',
      	url: url, 
      	// dataType: 'json',
      	success: function (json) {
      		console.log(json);
          button.parentElement.parentElement.remove();
      	},
      	error: function (error) {
      		console.log('error: '+error);
      	}
      });
    });

    $('.play').on('click', function (eo) {
      var id = eo.target.value || eo.target.parentElement.value;
      var url = '<%= url('/play/') %>' + id;
      console.log(url);
      $.ajax({
      	type: 'POST',
      	url: url, 
      	// dataType: 'json',
      	success: function (json) {
          playing = true;
      		console.log(json);
      	},
      	error: function (error) {
      		console.log('error: '+error);
      	}
      });
    });
  });
</script>
