<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= @title %></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.bootstrap_3.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container"> 
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-lg " id="previous"><span class="glyphicon glyphicon-step-backward"></span></button>
        </span>
        <input id="title" type="text" value="" class="">
        <span class="input-group-btn">
          <button class="btn btn-lg " id="next"><span class="glyphicon glyphicon-step-forward"></span></button>
        </span>
      </div>
      
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3 text-center">
          <span id="elapsed"></span> / <span id="time"></span>
        </div>
      </div>

      <div class="row">
        <div class="">
          <button class="btn btn-lg seekcur col-xs-offset-1 col-xs-3" value="-15"> 15s <span class="glyphicon glyphicon-fast-backward"></span></button>
          <button class="btn btn-lg btn-success col-xs-2" id="play"><span class="glyphicon glyphicon-play"></span></button>
          <button class="btn btn-lg btn-info col-xs-2" id="pause"><span class="glyphicon glyphicon-pause"></span></button>
          <button class="btn btn-lg seekcur col-xs-3" value="+15"> 15s <span class="glyphicon glyphicon-fast-forward"></span> </button>
          <button class="btn btn-lg seekcur col-md-offset-2 col-xs-offset-0 col-xs-2 col-md-1" value="-30"><span class="glyphicon glyphicon-fast-backward"></span> 30s </button>
          <button class="btn btn-lg seekcur col-xs-2 col-md-1" value="+30"> 30s <span class="glyphicon glyphicon-fast-forward"></span> </button>
        </div>
      </div>

      <div class="row">
        <div class="text-center">
          <button class="btn btn-lg seekcur col-xs-3" value="-900"> 15m <span class="glyphicon glyphicon-fast-backward"></span></button>
          <button class="btn btn-lg seekcur col-xs-3" value="-60"> 1m <span class="glyphicon glyphicon-fast-backward"></span></button>
          <button class="btn btn-lg seekcur col-xs-3" value="+60"> 1m <span class="glyphicon glyphicon-fast-forward"></span> </button>
          <button class="btn btn-lg seekcur col-xs-3" value="+900"> 15m <span class="glyphicon glyphicon-fast-forward"></span> </button>
          <button class="btn btn-lg seekcur col-xs-2" value="-300"><span class="glyphicon glyphicon-fast-backward"></span> 5 </button>
          <button class="btn btn-lg seekcur col-xs-2" value="+300"> 5 <span class="glyphicon glyphicon-fast-forward"></span> </button>
        </div>
      </div>

      <ul class="nav nav-tabs">
        <li id="playlist-tab" role="presentation" ><a href="<%= url('/playlist') %>">Playlist</a></li>
        <li id="alllist-tab" role="presentation"><a href="<%= url('/listall') %>">All List</a></li>
      </ul>



      <%= yield %>
    </div>

    <script type="text/javascript">
      var playing = false;
      var newyearsday=Date.parse('2017/1/1');

      function zx(x) {
        if (x<10) {
          x = '0' + x;
        }
        return x;
      }

      function toDate(t) {
        return t.getFullYear() + '/' + zx(t.getMonth()+1) + '/' + zx(t.getDate()) +
          ' ' + t.getHours() + ':' + zx(t.getMinutes());
      }

      setInterval(function () {
        if (playing == false){
          return;
        }
        $.ajax({
         type: 'GET',
         dataType: 'json',
         url: '<%= url('/playing') %>'
        }).done( function (json) {
           // console.log(json);
           if (Object.keys(json).length > 0) {
             var t = new Date(json.onair.substr(0,19)+"+09:00");
             var onair = toDate(t);

             $('#title').text(json.title + '   -   ' + onair);
             
             var t = new Date(newyearsday+json.time*1000);
             $('#time').text(t.toLocaleTimeString());
             var e = new Date(newyearsday+json.elapsed*1000);
             $('#elapsed').text(e.toLocaleTimeString());
             playing = (json.state == 'play');
           }
        }).fail( function (error) {
           console.log('error: '+error);
         
        });
       // body...
      }, 1000);
      

      $(function () {
        $('#play').on('click', function (eo) {
          $.ajax({
            type: 'POST',
            url: '<%= url('/play') %>'
          }).done( function(res) {
            console.log(res);
            playing = true;
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('#pause').on('click', function (eo) {
          $.ajax({
            type: 'POST',
            url: '<%= url('/pause') %>'
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('#next').on('click', function (eo) {
          $.ajax({
            type: 'POST',
            url: '<%= url('/next') %>'
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('#previous').on('click', function (eo) {
          $.ajax({
            type: 'POST',
            url: '<%= url('/previous') %>'
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('.seekcur').on('click', function (eo) {
          var sec = eo.target.value || eo.target.parentElement.value;
          console.log('seekcur '+sec);
          $.ajax({
            type: 'POST',
            url: '<%= url('/seekcur/') %>' + sec
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        playing = true;

      });
    </script>
  </body>
</html>