<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= @title %></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="button_group">
    <a href="<%= url('/playlist') %>" class="btn btn-info btn-lg">Playlist</a>
    <a href="<%= url('/listall') %>" class="btn btn-info btn-lg">All List</a>
    <div class="container"> 
      <div class="button-group-justified button-group-lg">
        <a href="<%= url('/playlist') %>" class="btn btn-info">Playlist</a>
        <a href="<%= url('/listall') %>" class="btn btn-info">All List</a>
      </div>
      <div class="center-block">
        <div class="row center-block">
          <input id="title" type="text" value="">
        </div>
        <div class="row">
          <span id="elapsed"></span> / <span id="time"></span>
        </div>
      </div>
      <%= yield %>
    </div>

    <script type="text/javascript">
      var newyearsday=Date.parse('2017/1/1');
      setInterval(function () {
        $.ajax({
         type: 'GET',
         dataType: 'json',
         url: '<%= url('/playing') %>'
        }).done( function (json) {
           console.log(json);
           if (Object.keys(json).length > 0) {
             $('#title').val(json.title);
             var t = new Date(newyearsday+json.time*1000);
             $('#time').text(t.toLocaleTimeString());
             var e = new Date(newyearsday+json.elapsed*1000);
             $('#elapsed').text(e.toLocaleTimeString());
           }
        }).fail( function (error) {
           console.log('error: '+error);
         
        });
       // body...
      }, 300);
    </script>
  </body>
</html>