<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%= @title %></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.bootstrap_3.min.css" rel="stylesheet">
    <link href="css/bootstrap_custom.css" rel="stylesheet">
    <link href="css/notyf.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container"> 
      <div class="row">
        <div class="button-group">
          <button class="btn btn-default btn-lg col-xs-offset-0 col-xs-2 col-md-offset-1 col-md-2" id="previous"><span class="glyphicon glyphicon-step-backward"></span></button>
          <button type="text" disabled value="" class="btn btn-default btn-lg col-xs-8 col-md-6">
            <span id="title" ></span>
          </button>
          <button class="btn btn-default btn-lg col-xs-2 col-md-2" id="next"><span class="glyphicon glyphicon-step-forward"></span></button>
        </div>
      </div>
      
      <div class="progress">
        <div id="playbar" class="progress-bar" role="progressbar" style="width: 0%;">
          <span id="elapsed"></span> / <span id="time"></span>
        </div>
      </div>

      <div class="row">
        <div class="button-group">
          <button class="btn btn-default btn-lg seekcur col-md-offset-2 col-xs-offset-0 col-xs-2 col-md-1" value="-30">
            30s 
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2 col-md-1" value="-15">
             15<span class="glyphicon glyphicon-backward"></span> 
          </button>
          <button class="btn btn-default btn-lg btn-success col-xs-2 col-md-2" id="play">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button class="btn btn-lg btn-info col-xs-2 col-md-2" id="pause">
            <span class="glyphicon glyphicon-pause"></span>
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2 col-md-1" value="+15">
           <span class="glyphicon glyphicon-forward"></span>15 
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2 col-md-1" value="+30">
           30s  
          </button>
        </div>
      </div>

      <div class="row">
        <div class="text-center">
          <button class="btn btn-default btn-lg seekcur col-xs-2" value="-900">
            15m 
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2" value="-300">
             5 
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2" value="-60">
            1<span class="glyphicon glyphicon-backward"></span>
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2" value="+60"> 
            <span class="glyphicon glyphicon-forward"></span>1
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2" value="+300">
            5
          </button>
          <button class="btn btn-default btn-lg seekcur col-xs-2" value="+900">
            15m
          </button>
        </div>
      </div>

      <p> <br>

      <ul class="nav nav-tabs">
        <li id="playlist-tab" role="presentation" ><a href="<%= url('/playlist') %>">Playlist</a></li>
        <li id="alllist-tab" role="presentation"><a href="<%= url('/listall') %>">All List</a></li>
      </ul>

      </p>

      <%= yield %>
    </div>

    <script type="text/javascript">
      var playing = false;
      var newyearsday=Date.parse('2017/1/1');

      function zx(x) {
        if (x<10) {
          x = '0' + x;
        }
        return x;
      }

      function toDate(t) {
        return t.getFullYear() + '/' + zx(t.getMonth()+1) + '/' + zx(t.getDate()) +
          ' ' + t.getHours() + ':' + zx(t.getMinutes());
      }

      setInterval(function () {
        if (playing == false){
          return;
        }
        $.ajax({
         type: 'GET',
         dataType: 'json',
         url: '<%= url('/playing') %>'
        }).done( function (json) {
           // console.log(json);
           if (Object.keys(json).length > 0) {
             var t = new Date(json.onair.substr(0,19)+"+09:00");
             var onair = toDate(t);

             $('#title').text(json.title + '   -   ' + onair);
             
             var t = new Date(newyearsday+json.time*1000);
             $('#time').text(t.toLocaleTimeString());
             var e = new Date(newyearsday+json.elapsed*1000);
             $('#elapsed').text(e.toLocaleTimeString());
             playing = (json.state == 'play');
             var progress = 100 * json.elapsed / json.time
             $('#playbar').css('width', progress + '%')
           }
        }).fail( function (error) {
           console.log('error: '+error);
         
        });
       // body...
      }, 1000);
      

      $(function () {
        $('#play').on('click', function (eo) {
          $.ajax({
            type: 'GET',
            url: '<%= url('/play') %>'
          }).done( function(res) {
            console.log(res);
            playing = true;
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('#pause').on('click', function (eo) {
          $.ajax({
            type: 'GET',
            url: '<%= url('/pause') %>'
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('#next').on('click', function (eo) {
          $.ajax({
            type: 'GET',
            url: '<%= url('/next') %>'
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('#previous').on('click', function (eo) {
          $.ajax({
            type: 'GET',
            url: '<%= url('/previous') %>'
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        $('.seekcur').on('click', function (eo) {
          var sec = eo.target.value || eo.target.parentElement.value;
          console.log('seekcur '+sec);
          $.ajax({
            type: 'POST',
            url: '<%= url('/seekcur/') %>' + sec
          }).done( function(res) {
            console.log(res);
          }).fail( function(error) {
            console.log('error: '+error);
          });
        });


        playing = true;

      });
    </script>
  </body>
</html>